In [1]:
# initial setup
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

<link rel="stylesheet" href="../../../common/dhds.css">
<div class="Table">
    <div class="Row">
        <div class="Cell grey left"> <img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_portada.png" align="center" /></div>
        <div class="Cell right">
            <div class="div-logo"><img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/common/logo_DH.png" align="center" width=70% /></div>
            <div class="div-curso">DATA SCIENCE</div>
            <div class="div-modulo">MÓDULO 1</div>
            <div class="div-contenido">Pandas 1</div>
        </div>
    </div>
</div>

### Objetivos de la Clase

---

- Aprender las bases de pandas: para qué sirve, cuáles son sus estructuras de datos y aplicaciones principales.

- Aplicar los conocimientos adquiridos de pandas en prácticas.

### Repaso Numpy

---

Fortalezas y limitaciones de Numpy: **debatir en clase**

### Pandas

---

- **Colección de estructuras de datos y funciones** que facilitan el trabajo con datos estructurados.

- Nombre derivado de  "**Pan**el **Da**ta **S**ystem" (término econométrico para datasets multidimensionales). 

- Construído **en base a Numpy**, inicialmente por Wes McKinney.

- Ofrece más versatilidad que Numpy: podemos trabajar con **datos de diferentes tipos** y podemos identificar las filas y columnas **usando etiquetas**, en lugar de solamente enteros. 
    
- Combina la alta performance de las **operaciones sobre arrays de NumPy con la flexibilidad en la manipulación de datos** de un spreadsheet o una base de datos relacional.

- Provee **funcionalidades de indexación avanzadas** para facilitar la manipulación, agregación y selección de partes de un dataset.

- Provee **operaciones de agrupación por columnas, filtros y sumarizaciones**.

- Estas características hacen de pandas una librería **indispensable para las tareas de limpieza y preprocesamiento de datos**.

<div class="div-dhds-fondo-1"> Estructuras de Datos
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Estructuras de datos de Pandas

---

Veremos los siguientes objetos:

* Series

* DataFrames

* Index

<div class="div-dhds-fondo-1"> Series
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Pandas: Series

---

<div class="Table">
    <div class="Row">
        <div class="Cell Clase05 left"> <img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_serie.jpg" align="center" /></div>
        <div class="Cell Clase05 right">
            <ul>
                <li>Una Series es un objeto similar a un <b>vector unidimensional</b></li>                
                <li>Contiene <b>un array de valores y un array asociado de etiquetas</b> de estos valores denominado como índice.</li>            
                <li>Una Serie también puede ser pensada como un <b>diccionario de tamaño fijo con sus claves ordenadas</b>.</li>
                <li>Al igual que  los arrays de NumPy, permite pasar <b>una lista de valores con índices</b> para seleccionar un subconjunto de valores.</li>
             </ul>            
        </div>
    </div>
</div>

### En Python

In [2]:
import pandas as pd

lista = [0.25, 0.5, 0.75, 1.0]
data = pd.Series(lista)
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

<div class="div-dhds-fondo-1"> DataFrame
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Pandas: DataFrame

---

<div class="Table">
    <div class="Row">
        <div class="Cell Clase05 left"> <img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_dataframe.jpg" align="center" /></div>
        <div class="Cell Clase05 right">
            <ul>
                <li>Representa una <b>estructura de datos tabular</b> que contiene una <b>colección de columnas</b>, cada una de las cuales tiene un tipo determinado (number, string, boolean).</li>                
                <li>El DataFrame tiene <b>índices de columnas y filas</b>.</li>            
             </ul>            
        </div>
    </div>
</div>

### Pandas: DataFrame

---

- En el día a día de un data scientist la limpieza, preparado y normalización de los datos con los que trabaja es la tarea que más tiempo insume. 

- Pandas es la librería principal al momento de tener que realizar estas tareas. 

- Los DataFrame de Pandas son la herramienta fundamental que vamos a utilizar a lo largo del curso y de nuestro día de trabajo a partir de ahora.

### En Python

Vamos a construir dos instancias de Series:

* area, a partir de un diccionario

* population, a partir de dos listas 

Luego construimos el DataFrame states a partir de las dos Series resultado del paso anterior

In [5]:
import pandas as pd
import numpy as np

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states_list = ['Illinois','Texas','New York', 'Florida', 'California']
states_pop = [12882135, 26448193, 19651127, 19552860, 38332521]
population = pd.Series(states_pop, index= states_list)

states = pd.DataFrame({'population': population,
                       'area': area})

In [6]:
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [7]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [8]:
states.columns

Index(['population', 'area'], dtype='object')

Podemos seleccionar la columna 'area' del DataFrame

In [9]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [10]:
states.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

Podemos indexar un DataFrame usando las posiciones (iloc) o los valores (loc)

In [11]:
states.iloc[:3, :1]

            population
California    38332521
Florida       19552860
Illinois      12882135

In [12]:
states.loc[:'Illinois', :'population']

            population
California    38332521
Florida       19552860
Illinois      12882135

Podemos indexar un DataFrame usando loc y máscaras booleanas

In [13]:
states.loc[states.area > 423000, ['population', 'area']]

            population    area
California    38332521  423967
Texas         26448193  695662

Podemos modificar valores de una DataFrame

In [14]:
states['density'] = states['population'] / states['area']
states

            population    area     density
California    38332521  423967   90.413926
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763
New York      19651127  141297  139.076746
Texas         26448193  695662   38.018740

<div class="div-dhds-fondo-1"> Hands-on
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Ejercicio Series

Dadas dos series de representan cantidades 

<code>cantidades_prod1 = pd.Series([3, 7, 1], index=['local_a', 'local_b', 'local_c'])
cantidades_prod2 = pd.Series([54, 70, 985] index=['local_a', 'local_b', 'local_c'])
</code>

* ¿Qué cantidad de prod2 hay en local_b? 

* Usando iloc obtener la suma de prod1 en local_a y local_c

* Usando <code>index</code> responder ¿qué local corresponde al índice 1 de cantidades_prod1?

### Ejercicio DataFrame

* Construir una instancia de DataFrame usando las dos series del ejercicio anterior como columnas.

* Agregar al dataframe del paso anterior la columna 'total' cuyos datos sean el resultado de sumar las columnas 'cantidades_prod1' y 'cantidades_prod2'

* Mostrar los primeros dos registros de ese dataframe

* Mostrar los últimos dos registros de ese dataframe

* Obtener los nombres de locales que tengan en total más de 60 productos

### Solución

----

### Ejercicio Series

In [15]:
import pandas as pd
import numpy as np

cantidades_prod1 = pd.Series([3, 7, 1], index=['local_a', 'local_b', 'local_c'])

cantidades_prod2 = pd.Series([54, 70, 985], index=['local_a', 'local_b', 'local_c'])

In [16]:
cantidades_prod1

local_a    3
local_b    7
local_c    1
dtype: int64

In [17]:
cantidades_prod2

local_a     54
local_b     70
local_c    985
dtype: int64

In [18]:
cantidad = cantidades_prod2.loc['local_b']
cantidad

70

In [19]:
indices = [0, 2]
cantidades_a_c = cantidades_prod1.iloc[indices]
np.sum(cantidades_a_c)

4

In [20]:
cantidades_prod1.index[1]

'local_b'

### Ejercicio DataFrame

In [21]:
data_dict = {'cantidades_prod1': cantidades_prod1, 'cantidades_prod2': cantidades_prod2}
data = pd.DataFrame(data_dict)
data

         cantidades_prod1  cantidades_prod2
local_a                 3                54
local_b                 7                70
local_c                 1               985

In [22]:
data['total'] = data.cantidades_prod1 + data.cantidades_prod2
data

         cantidades_prod1  cantidades_prod2  total
local_a                 3                54     57
local_b                 7                70     77
local_c                 1               985    986

In [23]:
data.head(2)

         cantidades_prod1  cantidades_prod2  total
local_a                 3                54     57
local_b                 7                70     77

In [24]:
data.tail(2)

         cantidades_prod1  cantidades_prod2  total
local_b                 7                70     77
local_c                 1               985    986

In [25]:
mask = data.total > 60
data_mask = data.loc[mask, :]
locales = data_mask.index 
locales.values

array(['local_b', 'local_c'], dtype=object)

<div class="div-dhds-fondo-1"> Referencias y Material Adicional
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Referencias y Material Adicional

---



<a href="https://pandas.pydata.org/docs/user_guide/10min.html" target="_blank" >10 minutes to pandas</a>
    
<a href="https://pandas.pydata.org/docs/reference/index.html" target="_blank" >Documentación</a>

<a href="https://wesmckinney.com/pages/book.html" target="_blank" > Python for Data Analysis. Wes McKinney. Cap 5</a>