In [4]:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Documentación pandas

https://pandas.pydata.org/pandas-docs/stable/index.html

## Dataset

El dataset que usaremos es una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Este dataset es el mismo que emplearemos en la clase presencial, y en estos ejercicios buscamos  familiarizarnos con él y revisar algunos temas.

Importamos la biblioteca pandas y asignamos pd como alias:

In [5]:
import pandas as pd

## Ejercicio 1

Busquemos en la documentación de pandas la sintaxis del método `read_csv` y leamos en un `DataFrame` llamado data los datos del archivo /M1/CLASE_04/Data/data_filt.csv 

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

La documentación del método `read_csv` está en
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Los parámetros que pasamos en este caso son
* el path del archivo a leer
* el caracter separador de campos
* el encoding del archivo

In [8]:
# local
data_location = "../Data/data_filt.csv"

data = pd.read_csv(data_location, sep=",", encoding="latin1")
data.head(3)

   ch06           nivel_ed  htot            calif    p47t
0    46        1_H/Sec inc    45  2_Op./No calif.  6000.0
1    26  2_Sec. comp y más    25  2_Op./No calif.  5000.0
2    47  2_Sec. comp y más    25  2_Op./No calif.  5000.0

Veamos qué pasa cuando intentamos leer ese archivo sin especificar el valor de encoding.

In [9]:
data = pd.read_csv(data_location, sep=",")
data.head(3)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 15: invalid continuation byte

## Ejercicio 2

Repasemos el concepto de índice y columnas de un `DataFrame`

Accedamos al índice (nombres de las filas) del `DataFrame` data

Accedamos a los nombres de columnas del `DataFrame` data

In [10]:
data.index

RangeIndex(start=0, stop=23448, step=1)

In [11]:
data.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

Vamos a modificar ahora el índice de data, así el valor del índice no coincide con la posición y podemos notar diferencias en los ejercicios que siguen.

In [12]:
data.index = data.index + 7
print(data.index)
data.head(5)

RangeIndex(start=7, stop=23455, step=1)

    ch06           nivel_ed  htot            calif     p47t
7     46        1_H/Sec inc    45  2_Op./No calif.   6000.0
8     26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
9     47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
10    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
11    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

## Ejercicio 3

Repasemos el uso de `loc` e `iloc`

* `loc` nos permite acceder a un elemento por su índice

* `iloc` nos permite acceder a un elemento por su posición

Leamos con `loc` y con `iloc` la cuarta fila de data

¿Cómo accedemos al valor del índice en la cuarta fila?

In [13]:
data.iloc[3, :]

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object

In [14]:
data.loc[10, :]

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object

In [15]:
valor_indice_cuarta_fila = data.index[3]
valor_indice_cuarta_fila

10

In [16]:
valor_indice_cuarta_fila = data.index[3]
data.loc[valor_indice_cuarta_fila, :]

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object

## Ejercicio 4

Repasemos el uso de `loc` combinado con máscaras booleanas.

Queremos construir un objeto `DataFrame` con los registros de edad menor a 15 o mayor igual a 70.

In [17]:
mask_jr = data['ch06'] < 15
mask_sr = data['ch06'] >= 70
mask_jr_sr = mask_jr | mask_sr

data_resultado = data.loc[mask_jr_sr, :]
data_resultado.head(3)

     ch06           nivel_ed  htot            calif     p47t
17     72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
251    71  2_Sec. comp y más     8    1_Prof./Tecn.   7102.0
416    71        1_H/Sec inc    63  2_Op./No calif.  11800.0

## Ejercicio 5

Calculemos algunas métricas sobre un objeto `DataFrame`

* Promedio de edad

* Máximo de horas trabajadas

* Mediana de ingreso

En esta primea solución vamos a acceder a las columnas del DataFrame por nombre:

In [18]:
serie_edad =  data['ch06']
promedio_edad = serie_edad.mean()
promedio_edad

40.455689184578645

In [19]:
max_horas = data['htot'].max()
max_horas

168

In [20]:
mediana_ingreso = data['p47t'].median()
mediana_ingreso

7000.0

Una solución alternativa es acceder a las columnas del DataFrame `.nombre_columna`:

In [21]:
promedio_edad = data.ch06.mean()
print(promedio_edad)

max_horas = data.htot.max()
print(max_horas)

mediana_ingreso = data.p47t.median()
print(mediana_ingreso)

40.455689184578645
168
7000.0

Otra alternativa es acceder por posición de columna:

In [22]:
promedio_edad = data.iloc[:, 0].mean()
print(promedio_edad)

max_horas = data.iloc[:, 2].max()
print(max_horas)

mediana_ingreso = data.iloc[:, 4].median()
print(mediana_ingreso)

40.455689184578645
168
7000.0