In [1]:
# initial setup
# %run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

# Expresiones Regulares

<a id="section_toc"></a> 
## Tabla de Contenidos

[Intro](#section_intro)

$\hspace{.5cm}$[Sintaxis](#section_sintaxis)

[Módulo `re`](#section_re)

$\hspace{.5cm}$[Split](#section_split)

$\hspace{.5cm}$[Pattern matching](#section_pattern_matching)

$\hspace{.5cm}$[Sustitución](#section_sub)

$\hspace{.5cm}$[Ejemplos](#section_ejemplos)

[Referencias](#section_referencias)

<a id="section_intro"></a> 
## Intro

[volver a TOC](#section_toc)

Una expresión regular es una secuencia de caracteres que define un **patrón** de búsqueda de texto. 

Las expresiones regulares constituyen un lenguaje muy flexible que sirve para identificar y extraer información de un cuerpo de texto.

Una sola expresión, comúnmente llamada regex, es una cadena de caracteres construida de acuerdo a la sintaxis del lenguaje de expresiones regulares. 

El módulo `re` de Python es responsable de aplicar expresiones regulares a cadenas de caracteres.

Las funciones del módulo `re` se agupan en tres categorías:

* Split: divide una cadena de caracteres, usando el patrón definido por la expresión regular como separador.

* Pattern maching: extrae, de una cadena de caracteres, las subcadenas definidas por el patrón de la expresión regular

* Sustitución: reemplaza la cadena de caracteres definida por la expresión regular por otra


<a id="section_sintaxis"></a> 
### Sintaxis en expresiones regulares en Python

[volver a TOC](#section_toc)

#### Metacaracteres

    .  símbolo que indica cualquier caracter con excepción de nueva línea (\n)
    ^  símbolo que indica comienzo
    $  símbolo que indica fin
    \  símbolo que escapa caracteres reservados
    |  o lógico 
    \d símbolo que indica cualquier dígito del 0 al 9
    \w símbolo que indica cualquier caracter alfanumérico (A-Z, a-z, 0-9 y _)
    \s símbolo que indica cualquier espacio en blanco (espacio, tabulado, nueva línea, etc.)
    \D símbolo que indica cualquier caracter que no sea dígito
    \W símbolo que indica cualquier caracter que no sea alfanumérico
    \S símbolo que indica cualquier caracter que no sea espacio en blanco

        
#### Cuantificadores

    *  símbolo que indica cero o más ocurrencias
    +  símbolo que indica una o más ocurrencias
    ?  símbolo que indica optativo (puede estar o no)
    {m}  donde m es un número entero, indica exactamente m repeticiones 
    {m,n}  donde m y n son números enteros, indica al menos m repeticiones y como máximo n repeticiones

#### Opciones 

    [abc]  indica un caracter perteneciente al conjunto de valores posibles especificado entre corchetes
    [a-z]  indica un caracter perteneciente al intervalo de valores posibles especificado entre corchetes

#### Grupos 
    ( )  define un grupo
    (?P<group_name> ) define un grupo etiquetado
    
#### Ejemplos de sintaxis:

`\d+` encuentra números de un dígito o más

`.*` encuentra cadenas de caracteres de cualquier longitud, incluso vacías.

`\w{2,6}` encuentra un conjunto de caracteres alfanuméricos con una longitud que va de 2 a 6 caracteres

`[a-zA-Z]` encuentra lo mismo que `[a-zA-Z]{1}` que es cualquier caracter entre a y z minúscula o A y Z mayúscula

`[a-zA-Z]+` encuentra cadenas de caracteres con letras entre a y z y A y Z de longitud al menos 1

`(\d\d\d\d)` encuentra lo mismo que `\d{4}` que son cadenas de cuatro dígitos

`(?P<num>\d\d\d\d)` encuentra  cadenas de cuatro dígitos y etiqueta a ese grupo como "num"

---


![Image](img/regex_methods.PNG)


<div id="caja1" style="float:left;width: 100%;">
  <div style="float:left;width: 15%;"><img src="../../../common/icons/haciendo_foco.png" style="align:left"/> </div>
  <div style="float:left;width: 85%;"><label>Vamos a crear objetos regex con `re.compile` porque es mucho más eficiente su ejecución cuando aplicamos la misma expresión a muchas cadenas de caracteres.</label></div>
</div>

<a id="section_re"></a> 
## Módulo `re`

[volver a TOC](#section_toc)

https://docs.python.org/3/library/re.html

Este módulo provee operaciones de búsqueda, sustitución y split con expresiones regulares

<a id="section_split"></a> 
### Split

[volver a TOC](#section_toc)

Dividimos una cadena de caracteres (la variable texto), usando el patrón definido en la expresión regular como separador.

Obtenemos como resultado la lista de partes que componen la variable texto.

De link de referencia de sintaxis vemos que

*\s: Returns a match where the string contains a white space character*

In [2]:
import re

patron = "\s+"

regex = re.compile(patron, flags = re.IGNORECASE)

texto = "foo      bar \t bas \tqux"
regex.split(texto)

['foo', 'bar', 'bas', 'qux']

<a id="section_pattern_matching"></a> 
### Pattern matching

[volver a TOC](#section_toc)


Si en lugar de separar la variable texto, queremos extraer todas las subcadenas que verifiquen el patrón de la expresión regular:

In [3]:
regex.findall(texto)

['      ', ' \t ', ' \t']

Si buscamos sólo el primer match del patrón de la expresión regular:

In [4]:
regex.search(texto)

match sólo busca al comienzo del string:

In [5]:
result = regex.match(texto)
print(result)

None

In [6]:
texto_2 = '   ' + texto
result = regex.match(texto_2)
print(result)

<re.Match object; span=(0, 3), match='   '>

<div id="caja2" style="float:left;width: 100%;">
  <div style="float:left;width: 15%;"><img src="../../../common/icons/haciendo_foco.png" style="align:left"/> </div>
  <div style="float:left;width: 85%;"><label>
match y search funcionan de forma similar a findall. <br/> 
Mientras que findall devuelve todos los match en una cadena de caracteres, search devuelve sólo el primero, y match sólo lo encuentra si está al comienzo de la cadena.
</label></div>
</div>

<a id="section_sub"></a> 
### Sustitución

[volver a TOC](#section_toc)



Ahora queremos reemplazar todas las subcadenas que verifican el patón de la expresión regular por la cadena " [espacios] "

In [7]:
regex.sub(' [espacios] ', texto)

'foo [espacios] bar [espacios] bas [espacios] qux'

<a id="section_ejemplos"></a> 
### Ejemplos

[volver a TOC](#section_toc)



Usando en dataset de porpiedades de Melbourne, el campo Address, vamos a extraer el número y el nombre de la calle sin el sufijo 'St'

Leemos los datos:

In [8]:
import pandas as pd 

# local
data_location = "../Data/melb_data.csv"
# colab
# data_location = ""

data = pd.read_csv(data_location)

data.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

La expresión regular para el número de la dirección es, cualquier dígito (\d) una o más veces (+)

Como queremos extraerlo, vamos a usar alguna de las funciones de pattern matching, en este caso `re.findall`

Y como tenemos que evaluarlo sobre cada elemento de la series `data.Address` vamos a usar `apply`

In [9]:
patron_num = "\d+"
patron_num_regex = re.compile(patron_num)

In [10]:
address_series = data.Address
resultado = address_series.apply(lambda x: patron_num_regex.findall(x))
print(type(resultado))
print(resultado)

<class 'pandas.core.series.Series'>
0        [85]
1        [25]
2         [5]
3        [40]
4        [55]
         ...
13575    [12]
13576    [77]
13577    [83]
13578    [96]
13579     [6]
Name: Address, Length: 13580, dtype: object

Obsevemos que:

* El resultado es una instancia de Series.

* Cada uno de sus elementos es una lista de longitud igual a la cantidad de números que haya en el valor del campo Address de cada registro (porque findall devuelve todos los match que encuentra)

Si usamos search obtenemos sólo el primero:

In [11]:
address_series = data.Address
resultado = address_series.apply(lambda x: patron_num_regex.search(x))
print(type(resultado))
print(resultado)

<class 'pandas.core.series.Series'>
0        <re.Match object; span=(0, 2), match='85'>
1        <re.Match object; span=(0, 2), match='25'>
2         <re.Match object; span=(0, 1), match='5'>
3        <re.Match object; span=(0, 2), match='40'>
4        <re.Match object; span=(0, 2), match='55'>
                            ...
13575    <re.Match object; span=(0, 2), match='12'>
13576    <re.Match object; span=(0, 2), match='77'>
13577    <re.Match object; span=(0, 2), match='83'>
13578    <re.Match object; span=(0, 2), match='96'>
13579     <re.Match object; span=(0, 1), match='6'>
Name: Address, Length: 13580, dtype: object

Obsevemos que:

* El resultado es una instancia de Series.

* Cada uno de sus elementos es un objeto de tipo Match, que corresponde al primer número encontrado para cada registro en ese campo
https://docs.python.org/3/library/re.html#match-objects

Para extraer el valor del número a partir del objeto Match podemos usar `group` o `[ ]`:

In [12]:
numeros_match = resultado.apply(lambda x: x[0])
numeros_match

0        85
1        25
2         5
3        40
4        55
         ..
13575    12
13576    77
13577    83
13578    96
13579     6
Name: Address, Length: 13580, dtype: object

In [13]:
numeros_match = resultado.apply(lambda x: x.group(0))
numeros_match

0        85
1        25
2         5
3        40
4        55
         ..
13575    12
13576    77
13577    83
13578    96
13579     6
Name: Address, Length: 13580, dtype: object

Ahora busquemos el nombre de la calle sin el sufijo. Los sufijos pueden ser St, La, Cr, Dr.

Vamos a construir un patrón que identifique 

1)  el número de calle `(?P<numero_calle>\d+[a-z]*)` como uno o más dígitos (\d+) seguidos opcionalemnet (*) por un caracter en minúscula. Definimos el nombre del grupo con (?P<nombre_del_gripo> ...)
  
2)  seguido por un espacio (\s)

3) seguido por el nombre de la calle `(?P<nombre_calle>.+)` cualquier cadena de caracteres de longitud al menos 1

4) seguido por un sufijo `(?P<sufijo>\sSt|La|Cr|Dr)` que es un espacio seguido por la cadena de caracteres "St" ó "La" ó "Cr" ó "Dr"

In [14]:

pattern_nombre = "(?P<numero_calle>\d+[a-z]*)\s(?P<nombre_calle>.+)(?P<sufijo>\sSt|La|Cr|Dr)"

pattern_nombre_regex = re.compile(pattern_nombre)
address_series = data.Address
resultado_nombres = address_series.apply(lambda x: pattern_nombre_regex.search(x))
#print(type(resultado))
print(resultado_nombres)

0        <re.Match object; span=(0, 12), match='85 Turn...
1        <re.Match object; span=(0, 15), match='25 Bloo...
2        <re.Match object; span=(0, 12), match='5 Charl...
3        <re.Match object; span=(0, 16), match='40 Fede...
4        <re.Match object; span=(0, 11), match='55a Par...
                               ...
13575    <re.Match object; span=(0, 12), match='12 Stra...
13576    <re.Match object; span=(0, 13), match='77 Merr...
13577    <re.Match object; span=(0, 11), match='83 Powe...
13578    <re.Match object; span=(0, 12), match='96 Verd...
13579    <re.Match object; span=(0, 10), match='6 Agnes...
Name: Address, Length: 13580, dtype: object

Para extraer el nombre de la calle a partir del objeto Match podemos usar `group` sabiendo que el nombre del grupo es 'nombre_calle':

In [15]:
calles_match = resultado_nombres.apply(lambda x: x if x is None else x.group('nombre_calle'))
calles_match

0             Turner
1          Bloomburg
2            Charles
3        Federation
4               Park
            ...
13575        Strada
13576       Merrett
13577          Power
13578         Verdon
13579          Agnes
Name: Address, Length: 13580, dtype: object

Ahora queremos dividir cada el campo Address de cada registro en tres partes: número, nombre y sufijo.
    
Para eso vamos a usar la misma expresión regular del punto anterior y el método `split`

In [16]:
pattern_address = "(?P<numero_calle>\d+[a-z]*)\s(?P<nombre_calle>.+)(?P<sufijo>\sSt|La|Cr|Dr)"

pattern_address_regex = re.compile(pattern_address)
address_series = data.Address
resultado_nombres = address_series.apply(lambda x: pattern_address_regex.split(x))
#print(type(resultado))
print(resultado_nombres)

0            [, 85, Turner,  St, ]
1         [, 25, Bloomburg,  St, ]
2            [, 5, Charles,  St, ]
3        [, 40, Federation , La, ]
4             [, 55a, Park,  St, ]
                   ...
13575        [, 12, Strada , Cr, ]
13576       [, 77, Merrett , Dr, ]
13577         [, 83, Power,  St, ]
13578        [, 96, Verdon,  St, ]
13579          [, 6, Agnes,  St, ]
Name: Address, Length: 13580, dtype: object

Para terminar vamos a reemplazar el sufijo de cada registro por un string vacío

In [17]:
pattern_suffix = "\sSt|La|Cr|Dr"

cadena_reemplazo = ""

pattern_suffix_regex = re.compile(pattern_suffix)
address_series = data.Address
resultado_reemplazo = address_series.apply(lambda x: pattern_suffix_regex.sub(cadena_reemplazo, x))
print(resultado_reemplazo)

0             85 Turner
1          25 Bloomburg
2             5 Charles
3        40 Federation
4              55a Park
              ...
13575           12rada
13576       77 Merrett
13577          83 Power
13578         96 Verdon
13579           6 Agnes
Name: Address, Length: 13580, dtype: object

<a id="section_referencias"></a> 

## Referencias

[volver a TOC](#section_toc)

Python for Data Analysis. Wes McKinney. Cap 7.3

Documentación Python `re`

https://docs.python.org/3/library/re.html

Regex tutorial a simple cheatsheet by examples

https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285

Sintaxis expresiones regulares

https://docs.python.org/3/library/re.html#re-syntax


https://www.w3schools.com/python/python_regex.asp


https://docs.python.org/3/howto/regex.html


Sitios web para practicar:

https://regexr.com/

https://regex101.com/